﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>BANCO KINAL</h1>
    <p class="lead">Eliezer Morales</p>
    <p><a href="http://localhost:54222/Personas" class="btn btn-primary btn-lg">Persona &raquo;</a>
    <a href="http://localhost:54222/Cuentas" class="btn btn-primary btn-lg">Cuentas &raquo;</a>
    <a href="http://localhost:54222/Creditoes" class="btn btn-primary btn-lg">Tarjeta Credito &raquo;</a>
    <a href="http://localhost:54222/Debitoes" class="btn btn-primary btn-lg">Tarjeta Debito &raquo;</a>
    <a href="http://localhost:54222/Movimientos" class="btn btn-primary btn-lg">Movimientos &raquo;</a>
    <a href="http://localhost:54222/TipoCuentas" class="btn btn-primary btn-lg">Tipo de Cuenta &raquo;</a></p>
    <p><a href="http://localhost:54222/TipoMovimientoes" class="btn btn-primary btn-lg">Tipo de Movimiento &raquo;</a>
    <a href="http://localhost:54222/TipoTarjeta" class="btn btn-primary btn-lg">Tipo de Tarjeta &raquo;</a>
    <a href="http://localhost:54222/Transferencias" class="btn btn-primary btn-lg">Transferencias &raquo;</a></p>
</div>





