﻿@model Banco.Models.Transferencia

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Transferencia</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Cuenta.NumeroCuenta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cuenta.NumeroCuenta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Monto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Monto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaYHora)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaYHora)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RowVersion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RowVersion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
